<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <span class="alert alert-primary hidden" id="no_translation_msg"></span>
        {% if page.last_update %}
        <div class="text-secondary"> {{ site.data[site.active_lang].strings["last_update"] }}: {{page.last_update | date: site.data[site.active_lang].i18n.date_format}}</div>
        {% endif %}
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
