<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {%- include head.html -%}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js"></script>

    <link rel="stylesheet" href="../../assets/css/virtual-select.min.css">
    <script src="../../assets/js/utils.js"></script>
    <script src="../../assets/js/virtual-select.min.js"></script>

<body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div id="filters" class="filters">
        <div id="filter-category"></div>
        <div id="filter-dataset_id"></div>
        <div id="filter-matrix"></div>
        <div id="filter-cas_id"></div>
        <!-- Button trigger export modal -->
        <a class="btn btn-outline-primary d-inline" data-bs-toggle="modal" data-bs-target="#export-modal">
          {{ site.data[site.active_lang].strings["map|Export"] }} <span class="d-inline" id="record_count"></span>
        </a>

      </div>



      <div id="left_panel">
          <div id="point_info"></div>
          <select id="dropdown_points_details" class="hidden form-select mb-2" onchange="onChangeSelectPointDetail(event);"></select>
          <div id="point_details">&nbsp;</div>
      </div>
      <div id="map_container">
          <div id="map">
            <div id="overlay" class="hidden"><div class="loader"></div></div>
          </div>
      </div>
      <div id="div_map_legend" class="mt-2 row row-cols-6">
          <div class="btn-group dropdown col p-0">
            <button type="button" class="btn btn-outline-primary d-inline" data-bs-toggle="modal" data-bs-target="#legend-modal">
              {{ site.data[site.active_lang].strings["map|Legend"] }} <span class="d-inline" ></span>
            </button>

          </div>


      <div class="btn-group dropdown col">
          <button type="button" class="btn btn-outline-primary d-inline" data-bs-toggle="modal" data-bs-target="#disclaimer-modal">
            {{ site.data[site.active_lang].strings["map|Disclaimer"] }} <span class="d-inline" ></span>
          </button>
      </div>


<template id="info_template">
<div class="accordion" id="map-accordeon">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-info">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-info" aria-expanded="true" aria-controls="collapse-info">
        {{ site.data[site.active_lang].strings["Infos"]}}
      </button>
    </h2>
    <div id="collapse-info" class="accordion-collapse collapse show" aria-labelledby="heading-info">
      <div class="accordion-body" id="content-info">
      </div>
    </div>
  </div>
  <div class="accordion-item" id="accordion-item-concentrations">
    <h2 class="accordion-header" id="heading-concentrations">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-concentrations" aria-expanded="false" aria-controls="collapse-concentrations">
        {{ site.data[site.active_lang].strings["PFAS concentrations"]}}
      </button>
    </h2>
    <div id="collapse-concentrations" class="accordion-collapse collapse show" aria-labelledby="heading-concentrations">
      <div class="accordion-body" id="content-concentrations">
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-details">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-details" aria-expanded="false" aria-controls="collapse-details">
        {{ site.data[site.active_lang].strings["Details"]}}
      </button>
    </h2>
    <div id="collapse-details" class="accordion-collapse collapse" aria-labelledby="heading-details">
      <div class="accordion-body" id="content-details">
      </div>
    </div>
  </div>
</div>
</template>

    </main>

    {%- include footer.html -%}

    <!-- Export Modal -->
        <div class="modal fade" id="export-modal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ site.data[site.active_lang].strings["map|Export"] }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <p class="fst-italic dropdown-item">
                        {{ site.data[site.active_lang].strings["map|export_warning"] }}
                    <a href="/download">{{ site.data[site.active_lang].strings["map|download_link"] }}</a>
                </p>
                <div>{{ site.data[site.active_lang].strings["map|export_file_format"] }}:</div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="export_csv" checked>
                  <label class="form-check-label" for="export_csv">csv</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="export_parquet">
                  <label class="form-check-label" for="export_parquet">parquet</label>
                </div>

                <div>{{ site.data[site.active_lang].strings["map|export_options"] }}:</div>
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="include_details">
                <label class="form-check-label" for="include_details">{{ site.data[site.active_lang].strings["map|export_include_details"] }}</label>
                <span class="fst-italic">{{ site.data[site.active_lang].strings["map|export_include_details_warning"] }}</span>
                </div>

                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="substances_as_columns">
                <label class="form-check-label" for="substances_as_columns">{{ site.data[site.active_lang].strings["map|export_substances_as_columns"] }}</label>
                <span id="substances_as_columns_warning" class="fst-italic">{{ site.data[site.active_lang].strings["map|export_substances_as_columns_warning"] }}</span>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="generate_export();" id="export_button">
                    <span id="export_spinner" class="spinner-border spinner-border-sm collapse" aria-hidden="true"></span>
                    {{ site.data[site.active_lang].strings["map|Export"] }}
                </button>
              </div>
            </div>
          </div>
        </div>

    <!-- Disclaimer Modal -->
        <div class="modal fade" id="disclaimer-modal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" >{{ site.data[site.active_lang].strings["map|Disclaimer"] }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  {{content}}
              </div>
            </div>
          </div>
        </div>

    <!-- Legend Modal -->
        <div class="modal fade" id="legend-modal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-m">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" >{{ site.data[site.active_lang].strings["map|Legend"] }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <ul class="list-item" id="legend_ul">
                  </ul>
              </div>
            </div>
          </div>
        </div>
    <script src="../assets/js/map.js"></script>
  </body>

</html>
