<link rel="apple-touch-icon" sizes="180x180"    href="{{ "../../assets/favicon/favicon-32x32.png"}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "../../assets/favicon/favicon-32x32.png"}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "../../assets/favicon/favicon-16x16.png"}}">
<link rel="manifest" href="{{ "../../assets/favicon/site.webmanifest" }}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script src="../../assets/js/utils.js"></script>

<script type="text/javascript">
if(! ['/fr/', '/en/'].includes(window.location.pathname.substring(0, 4))){
  //console.log("Redirect to: " +"/en" + window.location.pathname);

  var user_lang = (navigator.language || navigator.userLanguage || 'en').substring(0, 2);
  //console.log("user lang: " + user_lang);
  var redirect_lang = 'en';
  if (['fr', 'en'].includes(user_lang)){
    redirect_lang = user_lang;
  }
  window.location.href = "/" + redirect_lang +  window.location.pathname;
}

// after load, if the url lang is not the page lang, we add a warning
document.addEventListener("DOMContentLoaded", function(){
    const page_lang = '{{ page.lang }}';
    if (page_lang != '' && page_lang != lang) {
        els = document.getElementById('')
        var els = document.querySelectorAll('[id^="no_translation_msg"]');
        els.forEach(function (el) {
            el.innerHTML = "{{ site.data[site.active_lang].strings['no_translation_msg'] }}";
            el.classList.add('visible');
            el.classList.remove('hidden');
        });
    }
    console.log('Page lang: '+ page_lang);
    console.log('User lang: '+ lang);
});


</script>
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDoNotTrack", true]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://analyseweb.huma-num.fr/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '561']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

