<footer class="site-footer h-card">


  <div class="wrapper">
    <div class=" row">

      <div class="col">
          {{ site.description }}
      </div>


      <div class="col-3 row ">
        <img class="col" src="../assets/images/cnrs_logo.png" style="width: 40px;"/>
        <img class="col" src="/assets/images/pdh-logo-cropped.png" style="width: 40px;"/>
      </div>


      <div class="col text-end">
        <a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
      </div>
    </div>

  </div>

</footer>
