<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid wrapper">
    <img src="../assets/images/cnrs_logo.png" height="32">&nbsp;&nbsp;
    <img src="../assets/favicon/android-chrome-192x192.png" height="32">&nbsp;&nbsp;
    <a class="navbar-brand col" href="/">{{site.title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% for link in site.navbar-links %}
          {% if link[1].first %}
            <li class="nav-item dropdown">
              {%- assign key = 'nav|' | append: link[0] -%}
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ site.data[site.active_lang].strings[key]}}</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for childlink in link[1] %}
                  {% for linkparts in childlink %}
                    {%- assign key = 'nav|' | append: linkparts[0] -%}
                <li ><a class="dropdown-item" href="/{{ linkparts[1] }}">{{ site.data[site.active_lang].strings[key]}}</a></li>
                  {% endfor %}
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="nav-item">{%- assign key = 'nav|' | append: link[0] -%}
                <a class="nav-link active" aria-current="page" href="/{{ link[1] }}">{{ site.data[site.active_lang].strings[key]}}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-translate"></i></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 0;">
          {% for tongue in site.languages %}
            {% if tongue != 'he') %}
              <li><a class="dropdown-item"  {% static_href %} href="{{site.baseurl}}/{{ tongue }}{{page.url}}"{% endstatic_href %}>{{ site.data[site.active_lang].strings[tongue]}} {% if tongue == site.active_lang) %} <i class="bi bi-check" style="color: green;"></i>{% endif %}</a></li>
            {% endif %}
          {% endfor %}
          </ul>
      </ul>
    </div>
  </div>
</nav>