// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

#markdown-toc {
    border: 1px solid #aaa;
    padding: 1.5em;
    display: inline-block;
}

.table-pfas-concentration {
    table-layout: fixed;
    border: none;
}

.tag {
    border: 1px solid $border-color-01;
    border-radius: 4px;
    display: inline;
    padding: 5px;
    font-size: 0.85em;
}

.tag.sand {
    background-color: #DBBB79;
}

.tag.blue {
    background-color: #98B2D9;
}

.tag.pink {
    background-color: #D5C6C2;
}

.cas-badge {
    width: 6rem;
}

.fullscreen {
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    font-variant-numeric: tabular-nums;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar { display: none; }


#left_panel {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    height: 100%;
    min-height: 71vh;
    width: 500px;
}

#filters {
    position:relative;
    margin-bottom: 10px;
    padding-left: 10px;
}

#map {
    overflow: hidden;
    height: 70vh;
}

#map_container {
    z-index: -1;
}


#export {
    margin: 5px 0px;
    overflow: hidden;
}

#div_select {
    margin: 5px;
}

.no_padding {
    margin: 0px;
    padding: 0px;
}

.hidden {
    display: none !important;
}

.visible {
    display: inline-block;
}


.loader {
  position: relative;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 70px;
  height: 70px;
  left:50%;
  top:50%;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

#legend-dropup{
    z-index: 200;
}

#overlay{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .3;
    z-index: 1300;
}
.container{
    height: 100%;
    width: 100%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

fieldset {
  overflow: hidden
}

.export-format {
  float: left;
  clear: none;
}

label {
  float: left;
  clear: none;
  display: block;
  padding: 0px 1em 0px 8px;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}
@each $name,$color in (default,#777),(primary,#428bca),(success,#5cb85c),(danger,#d9534f),(warning,#f0ad4e),(info,#5bc0de), (bdc,#29527a) {
  .callout-#{$name} {
    border-left-color: $color;
    h4 {
      color: $color;
    }
  }
}